// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;
:root {
  --headings-size-h1: 28px;
  --headings-size-h2: 22px;
  @media #{map-get($display-breakpoints, 'lg-and-up')} {
      --headings-size-h1: 32px;
      --headings-size-h2: 26px;
  }
}
/**
 * Override Vuetify variables as you normally would
 * NOTE: remember to provide a fallback for browsers that don't support Custom Properties
 * In my case, I've used the mobile font-sizes as a fallback

*/

$headings: (
    'h1': (
        'size': var(--headings-size-h1, 28px),
    ),
    'h2': (
        'size': var(--headings-size-h2, 22px),
    )
);